<html>
    <head>
        <title>D's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="www.baidu.com">D's Blog</a></h1>
        </div>

        <div>
            <p>published:19.05.2018, 21:38</p>
            <h2><a href="">My first blog</a></h2>
            <p>This is my first blog!</p>
        </div>

        <div>
            <p>published: 19.05.2018, 21:38</p>
            <h2><a href="">My second blog!</a></h2>
            <p>This is my second blog...</p>
        </div>
    </body>
</html>